<footer>
  <div id="footer-inner">

    <section class="one-third" id="footer-third">
      <h3>Contact</h3><br>
      <p class="footercontact">Rent-a-car <br>
        <b class="phone">555-555-505</b><br><br>
        Kopilica 5 <br>
        Split, 21000
      </p>
    </section>
    <section class="one-third" id="footer-third">
      <h3>Social</h3><br>
      <ul class="social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </section>
    <section class="one-third" id="footer-third-last">
      <h3>Pages</h3><br>
      <h5>
        <a href="/">Home</a> -
        <a href="/shopping-cart">Shopping Cart</a> -
        <a href="/user/contact">Contact Us</a> -
      </h5>
    </section>

  </div>
</footer>

<footer class="second">
  <p>&copy; Rent-a-car, 2017.</p>
</footer>
