<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h1>Contact Us</h1>
    {{#if success}}
      <div class="alert alert-success">
        {{# each success }}
          <p>{{this}}</p>
          {{/each}}
      </div>
    {{/if}}
    {{#if failure}}
      <div class="alert alert-danger">
        {{# each failure }}
          <p>{{this}}</p>
          {{/each}}
      </div>
    {{/if}}

    <form action="/user/contact" method="post">
      <div class="form-group">
        <label for="email">Your E-Mail</label>
        <input type="text" id="email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="subject" id="subject" name="subject" class="form-control">
      </div>
      <div class="input">
        <label for="text">Text</label>
        <textarea class="form-control" id="text" name="text" cols="30" rows="4">{{EmailHTML}}</textarea>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" class="btn btn-primary">Send</button>
    </form>

  </div>
</div>
