@font-face {font-family: headerFont; src: url('Brownhill Script.ttf'); }
@font-face {font-family: terrainFont; src: url('Carosello-Regular.ttf'); }
@font-face {font-family: personalFont; src: url('Confetti Stream.ttf'); }
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.thumbnail img {
  max-height: 300px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

html {
  box-sizing: border-box;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  position: relative;
}
body {
  min-height: 2000px;
  margin: 0 0 300px;
  padding-bottom: 25px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background:white;
  padding:40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

/* Nab Bar */

li.active a {
  color:red;
}

li.active a:hover {
  color:red;
}

nav a:hover {
  color: white;
}

body.fixed-nav .site-wrap {
  transform: scale(1.02);
}

header {
  text-align: center;
  height:200px;
  background:url("http://res.cloudinary.com/dllclpxlh/image/upload/v1496928710/header_fh7t39.jpg") center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
}
header h1 {
  padding-top: 50px;
  font-family: headerFont, sans-serif;
  font-size: 76px;
  color:white;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

h1 {
  font-size: 56px;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

h1.split{
  color:black;
  font-size: 56px;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

nav {
  background: #2e2e2e;
  top:0;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.025em;
  transition:all 0.5s;
  position: relative;
  z-index: 1000;
  margin-bottom: 50px;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

.fixed-nav li.logo {
  max-width:200px;
}

nav ul {
  text-align: center;
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

nav a {
  text-decoration: none;
  padding:5px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
}

/* Responsivle Nav*/

/* Hide the link that should open and close the 'nav' on small screens */
.topnav .icon {
  display: none;
}


/* Admin */

section {
  float: left;
  padding: 5px;
  margin: 15px;
  width: 300px;
  min-height: 200px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  /*border-bottom: 1px solid black;*/
  padding-bottom: 5px;
}

.insert {
  background: #5CB85C;
}

.get {
  background: #ecf0f1;
}

.update {
  background: #31B0D5;
}

.delete {
  background: #C9302C;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}

.panel-footer{
  background-color:#337ab7;
  border-color: #337ab7;
  color: #FFFFFF;
}

.panel-group{
  margin: 5px;
}

.badge{
  background-color:#337ab7;
}
.form-inline{
  z-index: -1;
}

.numDays {
  min-width: 75px;
}

/* DUO IMAGES */

/* splitview i panel cine ove dvije slike da budu jedna preko druge */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel .content {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  color: #FFF;
}

.panel .description {
  width: 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.panel img {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* bottom i top - bg color */
.bottom {
  z-index: -3;
}

.bottom .description {
  left: 5%;
}

.top {
  z-index: -2;
  width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

.top .description {
  left: 5%;
}

/* Handle. Zuta crta*/
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: #337ab7;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: -1;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

.terrain {
  font-family: terrainFont, sans-serif;
  font-size: 85px;
}
.personal {
  font-family: personalFont, sans-serif;
  font-size: 85px;
}

/* FOOTER */
footer {
	background: black;
	overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
	opacity: .8;
}
#footer-inner {
	max-width: 1200px;
	margin: 0 auto;
}
footer .one-third {
	width: 33%;
	margin: 2% 0;
}
footer h3 {
	color: #959595;
  font-size: 190%;
	padding: 0;
  text-align: center;
  font-weight: 700;
}
footer p {
	color: #959595;
	text-align: center;
}
footer a {
	color: #959595;
	text-decoration: none;
}
#footer-third {
	border-right: 1px solid #959595;
	max-height: 200px;
	min-height: 200px;
}

.social li {
	display: inline;
}
.social i {
	font-size: 245%;
	padding: 2% 6%;
	color: #959595;
}
.social i:hover {
	color: #f5f5f5;
}

h5 a:hover {
	text-decoration: none;
	color: #405580;
}
h5 a {
	padding-left: 5%;
}

/*SECOND FOOTER*/
footer.second {
	border-top: 1px solid #4D4E50;
	max-height: 50px;
	/*padding-bottom: 1%;*/
	opacity: .9;
}

/* Typing Effect */
div.alert{
  margin: 0 auto;
  width: 50%;
}
p.typing {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: typing 4s steps(60, end);
}
@keyframes typing {
  from {width: 0;}
}
@keyframes typing-2 {
  0% {width: 0;}
  50% {width: 0;}
  100% {width: 100;}
}
.cursor {
  animation: blink 1s infinite;
}
@keyframes blink {
  to {opacity: .0;}
}
/* End Typing Effect */

/* About Img grid */
.grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.grid li {
	width: 280px;
	height: 280px;
	display: inline-block;
	margin: 20px;
}
.box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out,
  -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
  -moz-transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out,
  transform 0.3s ease-in-out, ;
}
.box:hover {
	transform: scale(1.05);
}
.img-1 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url('http://res.cloudinary.com/dllclpxlh/image/upload/v1497876181/man_k1him0.jpg');
}
.img-2 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url('http://res.cloudinary.com/dllclpxlh/image/upload/v1497876239/woman_fckj3l.jpg');
}
.info {
	position: absolute;
	width: inherit;
	height: inherit;
}
.info h3 {
  font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 180px 0 0 0;
	line-height:1.5;
}
.info p {
  color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height:2;
}
/* End About Img grid */

/* About p section */
#about {
  min-width: 100%;
  padding: 60px 0;
  background: #3498DB;
  text-align: center;
  color: #fff;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  opacity: 0.9;
}
.container {
  max-width: 85%;
  width: 960px;
  margin: 0 auto;
}
.heading {
  margin: 0;
  font-weight: 700;
  padding-bottom: 30px;
  letter-spacing: 1.5px;
}
.text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1.5px;
}
/* End About p section */


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the 'nav' (.icon) */
@media screen and (max-width: 600px) {
  /*.topnav li:not(:first-child) {display:none;}*/
  .topnav li:not(:nth-child(2)) {display:none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav li {
    display: inline-block;
  }
  nav ul {
    display:block;
  }
  header h1 {
    font-size: 50px;
    padding-top: 95px;
  }

  footer .one-third {
		width: 100%;
		margin: 0;
	}
	.social i {
		font-size: 210%;
	}
  footer h5 {
    text-align: center;
  }
	#footer-third {
		min-height: 130px;
		padding-bottom: 10%;
		border-bottom: 1px solid #959595;
	}
  div.alert{
    width: 100%;
  }
  p.typing {
    font-size: 9px;
  }
  .grid li {
  	width: 220px;
  	height: 220px;
  }
  .info h3 {
  	font-size: 32px;
  	padding: 140px 0 0 0;
  }

}

/* The "responsive" class is added to the 'nav' with JavaScript when the user clicks on the icon.
This class makes the 'nav' look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li:not(:first-child) {
    float: none;
    display: block;
    /*text-align: left;*/
  }
}
@media screen and (max-width: 768px) {
  .statistic {
    display: none;
  }
}
