.thumbnail img {
  max-height: 300px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

/**/

section {
  float: left;
  padding: 5px;
  margin: 15px;
  width: 300px;
  min-height: 200px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.insert {
  background: #5CB85C;
}

.get {
  background: #ecf0f1;
}

.update {
  background: #31B0D5;
}

.delete {
  background: #C9302C;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}
