
<div class="section">
  <ul class="grid">

    <li>
      <div class="box img-1">
        <div class="info">
          <h3>Ivan</h3>
          <p>Director</p>
        </div>
      </div>
    </li>

    <li>
      <div class="box img-2">
        <div class="info">
          <h3>Marija</h3>
          <p>Sales manager</p>
        </div>
      </div>
    </li>

  </ul>
</div>

<section id="about">
  <div class="container">
    <h2 class="heading">About Us</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus at lectus vitae laoreet. Vestibulum malesuada risus quis ipsum laoreet pulvinar. Quisque placerat, purus ac egestas sollicitudin, ante nulla tempus nisl, a ullamcorper massa dolor id
      libero. Nam tincidunt ullamcorper blandit. Sed cursus sit amet diam a vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eu dui vel justo sagittis auctor vel non turpis. Etiam malesuada sem eu
      massa pulvinar, sit amet rhoncus augue rhoncus. Nam at elit vel lectus tincidunt semper. In hac habitasse platea dictumst. Mauris ac lacus sit amet dui posuere porta eu eu erat. Maecenas pharetra sagittis sodales.</p>
  </div>
</section>
